# Set update schedule for GitHub Actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    target-branch: main
    open-pull-requests-limit: 1000
  - package-ecosystem: "npm"
    directories:
      - "**/*"
    schedule:
      interval: "weekly"
    target-branch: main
    open-pull-requests-limit: 10
    groups:
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: terraform
    directories: 
      - "**/*"
    schedule:
      interval: "weekly"
    target-branch: main
    open-pull-requests-limit: 1000
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      aws-provider:
        patterns:
          - "hashicorp/aws"
        update-types:
          - "minor"
          - "patch"
      oci-provider:
        patterns:
          - "oracle/oci"
        update-types:
          - "minor"
          - "patch"
      hashicorp-providers:
        patterns:
          - "hashicorp/http"
          - "hashicorp/null"
          - "hashicorp/random"
          - "hashicorp/local"
          - "hashicorp/tls"
          - "hashicorp/time"
        update-types:
          - "minor"
          - "patch"
      other-providers:
        patterns:
          - "*"
        exclude-patterns:
          - "hashicorp/aws"
          - "oracle/oci"
          - "hashicorp/http"
          - "hashicorp/null"
          - "hashicorp/random"
          - "hashicorp/local"
          - "hashicorp/tls"
          - "hashicorp/time"
        update-types:
          - "minor"
          - "patch"
