# AWS
boto3>=1.42.96

# Azure
azure-mgmt-compute>=30.0.0
azure-mgmt-network>=25.0.0
azure-identity>=1.15.0

# GCP
google-auth>=2.27.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.118.0

# Dev / test
pytest>=8.0.0
pytest-mock>=3.12.0
