name: CloudFormation Linter

on:
  push:
    paths:
      - "**/cfn/**/*.yaml"

permissions:
  contents: read

jobs:
  cfn-lint:
    name: CloudFormation Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: CloudFormation Linter
        uses: scottbrenner/cfn-lint-action@v2
        with:
          command: cfn-lint **/cfn/**/*.yaml
