name: Create Pull Request From OpenHands Resolver

on: create

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    if: ${{ contains(github.ref, 'refs/heads/openhands-fix-issue-') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set environment variables
        run: |
          ISSUE_NUMBER=$(echo ${{ github.ref }} | grep -Eo 'openhands-fix-issue-[0-9]+' | cut -d'-' -f4)
          {
            echo "ISSUE_NUMBER=${ISSUE_NUMBER}"
            echo "REPO_VISIBILITY=$(gh repo view --json visibility --jq .visibility)"
            echo "FIX_ME_EXPERIMENTAL=$(gh issue view "${ISSUE_NUMBER}" --json labels --jq '.labels[] | select(.name == "fix-me-experimental") | .name')"
          } >> "$GITHUB_ENV"
      - name: Create Pull Request
        if: env.REPO_VISIBILITY == 'PRIVATE' || env.FIX_ME_EXPERIMENTAL == 'fix-me-experimental'
        run: |
          issue_title=$(gh issue view ${{ env.ISSUE_NUMBER }} --json title --jq .title)
          title="Fix issue #${{ env.ISSUE_NUMBER }}: ${issue_title}"
          body="Fix issue #${{ env.ISSUE_NUMBER }}: This PR is auto-generated by GitHub Actions."
          gh pr create --title "${title}" --body "${body}" --base ${{ vars.TARGET_BRANCH || 'main' }} --head "${GITHUB_REF#refs/heads/}" --label "fix"
    env:
      GH_TOKEN: ${{ secrets.PAT_TOKEN }}
      GITHUB_USER: ${{ secrets.PAT_USERNAME }}
